@using Models.Maps
@inject MapInterop _mapInterop;

<div id="map" style="width: 300px; height: 300px;"></div>

@code {

    [Parameter] public List<Polyline>? PolyLines { get; set; }
    private const string _divName = "map";
    private const int _initialZoom = 11;
    private double[] _initialCenter = new []{49.0, 10.0};

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) 
        {
            base.OnInitialized();
            _ = _mapInterop.DisplayMap(_divName, new MapOptions(_initialCenter, _initialZoom),
                new TileLayerOptions("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"){
                        Attribution = "&copy; <a target=\"_blank\" href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors"
                });
        }
    }

    protected override void OnParametersSet() 
    {
        if (PolyLines != null) {
            _mapInterop.SetPolylines(PolyLines);
        }
    }
}